

body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-color: #1C2229;
}

.loading {
  background: url('../img/loader.gif') no-repeat;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  z-index: 4;
  position: absolute;
  margin-left: -17px;
  top: 30px;
  left: 50%;
  display: none;
}


#canvas {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #222;
}


.column-left {
  left: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  padding: 5px;
}

.column-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 1;
  overflow: auto;
}

.column-right {
  right: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  width: 265px;
  height: auto;
  overflow: auto;
  padding: 5px;
}

.no-padding {
  padding: 0;
}

#content-points {
  display: table;
  width: 100%;
}

.point-container {
  display: table-cell;
  width: 50%;
}

#alert-content {
  position: absolute;
  z-index: 999;
  width: 20%;
  top: 50%;
  left: 50%;
  margin-left: -10%;

}

#solution {
  z-index: 3;
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  position: absolute;
  border: solid 1px #14181D;

  overflow-x: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  overflow : -webkit-scrollbars-horizontal;


  background-color: #1C2229;

}

#solution li {
  display: inline-block;
  vertical-align: top;
}


#solution li.arrow {
  color: white;
  margin: 0 20px;
  font-size: 70%;
}

#solution li.arrow p {
  margin: 0;
}

#solution li.arrow span {
  color: white;
}


#solution li .labelPoint {
  color: white;
}


#solution li.totalTime {
  color: white;
  font-size: 18px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px;
}


.point-container {
  text-align: center;
}
span.point {
  background-color: #A72F43;
  border: solid 2px #930607;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  color: white;
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  margin: 10px auto;
}

span.point-label {
  text-align: center;
}